@use "../global/functions";
@use "../global/variables";

// BUTTONS
button {
  font-family: variables.$ff-headings;
  font-weight: variables.$fw-extra-bold;
  font-size: functions.rem(16);
  text-transform: uppercase;
  color: variables.$white;

  background-color: variables.$green;
  transition: variables.$transition-global;

  min-width: 150px;
  height: 50px;

  border: none;
  border-radius: variables.$border-radius-global;

  cursor: pointer;
}

button:hover {
  background-color: variables.$green-hover;
  transition: variables.$transition-global;
  /*transform: translateY(-2px);*/
}

button:active {
  background-color: variables.$green-active;
}

// SMALL BUTTONS
button.small-btn {
  font-weight: variables.$fw-bold;
  text-transform: capitalize;

  min-width: 125px;
  height: 40px;
}

// SELECTED AND UNSELECTED BUTTONS
button.unselected-btn {
  color: variables.$black;
  background-color: variables.$lighter-grey;
  transition: variables.$transition-global;
}

button.unselected-btn:hover {
  background-color: variables.$light-grey;
  transition: variables.$transition-global;
}

button.unselected-btn:active {
  background-color: variables.$light-grey-active;
}


button.selected-btn {
  color: variables.$white;
  background-color: variables.$black;
  transition: variables.$transition-global;
}

// BUTTON CONTAINER
.button-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;

  button {
    margin-top: 10px;
  }

}